body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default (Light Mode) Theme */
:root {
  --background-color: #dec2cb;
  --text-color: #000000;
  --button-background: #f0f0f0;
  --button-text: #000000;
  --button-border: #000000;
}

/* Dark Mode Theme */
body.dark-mode {
  --background-color: #92A8D1;
  --text-color: #ffffff;
  --button-background: #333333;
  --button-text: #ffffff;
  --button-border: #ffffff;
}
div.dark-mode {
  --background-color: #92A8D1;
  --text-color: #ffffff;
  --button-background: #333333;
  --button-text: #ffffff;
  --button-border: #ffffff;
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quiz-container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  min-height: 100vh;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quiz-score,
.quiz-total-score {
  font-weight: bold;
}

.quiz-answers {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}

.quiz-button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quiz-button:hover {
  opacity: 0.8;
}
